* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif; 
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    max-width: 375px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pad {
    padding: 20px;
 }


img {
    width: 100%;
    border-radius: 20px;
 }   
 
h2 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin: 0 20px 5px 20px;
}

p {
    font-size: 15px;
    text-align: center;
    color:hsl(220, 15%, 55%);
    margin: 0 35px 10px 35px;   
}

@media (max-width: 1005px) {
    .container {
        width: 50%;
        max-width: 1440px;
    }
  }
 
